{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Add Assignment
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <form method="POST">
                    {% csrf_token %}
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Assignment</h3>
                    </div>
                    <!-- /.card-header -->

                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="AssignmentDetails" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                             <label for="">Select Class</label>
                                             <select name="class_id" id="Class" class="form-control">
                                                 <option value="">Select Class</option>
                                                 {% for class in classes %}
                                                    {% if assinment_instance.class_id.id ==  class.id %}
                                                        <option value="{{class.id}}" selected>{{class.class_name}}</option>
                                                    {% else %}
                                                        <option value="{{class.id}}">{{class.class_name}}</option>
                                                    {% endif %}
                                                 {% endfor %}
                                             </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                             <label for="">Select Subject</label>
                                             <select name="subject_id" id="Subject" class="form-control">
                                                 <option value="">Select Subject</option>
                                                 {% for subject in subjects %}
                                                 {% if assinment_instance.subject_id.id == subject.id %}
                                                    <option value="{{subject.id}}" selected>{{subject.subject_name}}</option>
                                                 {% else %}
                                                    <option value="{{subject.id}}">{{subject.subject_name}}</option>

                                                {% endif %}
                                                 {% endfor %}
                                             </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="Title">Title</label>
                                                <input type="text" class="form-control" name='title' id="Title" value="{{assinment_instance.title}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="Description">Description</label>
                                                <textarea type="text" class="form-control" name="description" rows="4" id="Description" placeholder="Enter the Assignment Description(optional)">{{assinment_instance.description}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="fetch_student">Fetch Student</button>
                        </div>

                        {% comment %} Displaying Students Here {% endcomment %}

                        <div class="card-footer" id="student_data">
                            
                        </div> 

                    </div>
                    </form>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

<script>
    $(document).ready(function(){
        
    })
</script>
{% endblock custom_js %}