{% load static %}
<footer class="bg-dark footer_dark">
	<div class="top_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-8 mb-4 mb-lg-0">
                	<div class="footer_logo">
                    	<h2>Gurukula</h2><p> International School</p>
                    </div>
                    <p>Dedication to academic excellence our innovative approach to learning and our passion for nurturing creativity</p>
                    <ul class="contact_info contact_info_light list_none">
                        <li>
                            <i class="fa fa-map-marker-alt "></i>
                            <address>Banavara, Arsikere Tq, Hassan District</address>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:gis.bnr@gmail.com">gis.bnr@gmail.com</a>
                        </li>
                        <li>
                            <i class="fa fa-mobile-alt"></i>
                            <p>+91 9886271556</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0">
                	<h6 class="widget_title">Useful Links</h6>
                    <ul class="list_none widget_links links_style1">
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/facilities">School Facilities</a></li>
                        <li><a href="">Academics</a></li>
                        <li><a href="#">Achivments</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                	<h6 class="widget_title">Academics</h6>
                    <ul class="recent_post border_bottom_dash list_none">
                    	<li>
                        	<div class="post_footer">
                            	<div class="post_img">
                                	<a href=""><img src="{% static 'assets/images/pre-primary.jpg' %}" alt="pre-primary"></a>
                                </div>
                                <div class="post_content">
                                	<h6><a href="">Pre-Primary</a></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="post_footer">
                            	<div class="post_img">
                                	<a href=""><img src="{% static 'assets/images/primary.jpg' %}" alt="primary"></a>
                                </div>
                                <div class="post_content">
                                	<h6><a href="">Primary & Higher Primary</a></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="post_footer">
                            	<div class="post_img">
                                	<a href=""><img src="{% static 'assets/images/high-school.jpg' %}" alt="high-school"></a>
                                </div>
                                <div class="post_content">
                                	<h6><a href="">High School</a></h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h6 class="widget_title">Subscribe Newsletter</h6>
                    <div class="newsletter_form mb-4">
                        <form> 
                            <input type="text" class="form-control" required="" placeholder="Email Address">
                            <button type="submit" title="Subscribe" class="btn btn-default btn-sm" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                    <h6 class="widget_title">Follow Us</h6>
                    <ul class="list_none social_icons radius_social social_white social_style1">
                    	<li><a href="https://www.facebook.com/Gurukula-International-School-2714551335437849/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCOmMkGKyUyxL33j6vrhF16g" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer bg_black">
    	<div class="container">
        	<div class="row align-items-center">
            	<div class="col-md-6">
                	<p class="copyright m-md-0 text-center text-md-left">© 2020 Gurukula International School. Powered by DGTech Solutions.</p>
                </div>
                <div class="col-md-6">
                	<ul class="list_none footer_link text-center text-md-right">
                    	<li><a href="#" data-toggle="modal" data-target="#Rules" class="btn btn-default btn-sm">Rules & Regulation</a></li>
                    </ul>
                    <div class="modal fade lr_popup" id="Rules" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    	<div class="modal-content border-0">
    		<div class="modal-body">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="row no-gutters">
                	<div class="col-lg-12">	
                    	<div class="padding_eight_all">
                    		<ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="login-tab1" data-toggle="tab" href="#Prev" role="tab" aria-controls="login" aria-selected="true">Prev</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="signup-tab1" data-toggle="tab" href="#Next" role="tab" aria-controls="signup" aria-selected="false">Next</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="Prev" role="tabpanel">
                                     <ul class="list_style_1">
                        	<li>Parents should inculcate regular study habits and check on their ward’s homework, diaries and complete all the assignments, projects and other works given to them regularly and help the child in its progress</li>
                            <li>Parents, guardians or other persons are not allowed to see the pupil or call them to telephone during school hour</li>
                            <li>Criticisms of teachers or of the school in children’s presence should be avoided. You can meet directly to the principal regarding such matters</li>
                            <li>If child remains absent to school for more than a month without intimation, his name will be deleted from roll</li>
                            <li>Students should avoid offering gifts or presents to any of the staff or friends in the school</li>
                        </ul>
                                </div>
                                <div class="tab-pane fade" id="Next" role="tabpanel">
                                     <ul class="list_style_1">
                            <li>Mishandling, breaking of any school property, use of inappropriate language mischievous acts will be considered as violation of school code. under such circumstances the principal reserves right to talk necessary decision</li>
                            <li>Absence without valid reason will be deemed as truancy. In case of health hazards medical certificate has to be supported</li>
                            <li>Child should maintain high standard of cleanliness till the end of academic year</li>
                            <li>Nails must be kept short and clean. Nail polish, varnish is not allowed</li>
                            <li>Late coming is strictly prohibited, in case of some emergency report slip has to be produced to the concerned authority</li>
                        </ul>
                                    </div>
                            </div>
                        </div>
                	</div>
                </div>
        	</div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</footer>