<div class="top-header light_skin bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <ul class="contact_detail list_none text-center text-md-left">
                        <li><a href="tel:+91 9886271556"><i class="ti-mobile"></i>+91 9886271556</a></li>
                        <li><a href="mailto:gis.bnr@gmail.com"><i class="ti-email"></i>gis.bnr@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                	<div class="d-flex flex-wrap align-items-center justify-content-md-end justify-content-center mt-2 mt-md-0">
                    	<ul class="list_none social_icons social_white text-center text-md-right">
                            <li><a href="https://www.facebook.com/Gurukula-International-School-2714551335437849/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCOmMkGKyUyxL33j6vrhF16g" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                            <!-- <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li> -->
                        </ul>
                        <ul class="list_none header_list border_list ml-1">
                            <li><a href="/login"  class="btn btn-default btn-sm">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>